<!DOCTYPE html>
<html>
<head>

    <title>VyskumEmocii.sk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/theme.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/font-awesome.css') }}" rel="stylesheet" media="screen">

    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('homepage') }}">VyskumEmocii.sk</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% include 'NightSurveyBundle:layout:user.html.twig' %}
        </ul>
    </div>
</nav>
<div class="container">
    <div class="container-fluid" id="flash-messages">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% block body %}
    {% endblock %}
    <div class="panel panel-default">
        <div class="panel-body">
            Ďakujeme sponzorovi <img src="{{ asset('bundles/nightsurvey/img/white.png') }}">
        </div>
    </div>
</div>
<div class="modal fade" id="user-modal" tabindex="-1" role="dialog" aria-labelledby="LoginModal" style="padding-top: 150px">
    {% if app.user is empty %}
        {{ render(controller('FOSUserBundle:Security:loginModal')) }}
    {% endif %}
</div>
<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>

<script src="{{ asset('js/application.js') }}"></script>
</body>
</html>