{% extends '@NightSurvey/layout/layout.html.twig' %}

{% block body %}
    <script type="application/javascript">
        var SURVEY_ID = "{{ surveyDTO.surveyId }}";
        var FORM_ID = "{{ surveyDTO.formId }}";
    </script>
    <div class="page-header"><h1>{{ surveyDTO.title }}</h1></div>
    <div class="well">
        {{ surveyDTO.formText | raw }}
    </div>
    <div class="panel panel-default">
        {% if surveyDTO.subTitle is not empty %}
            <div class="panel-heading">
                <div class="panel-title">
                    {{ surveyDTO.subTitle }}
                </div>
            </div>
        {% endif %}
        <div class="panel-body">
        {% if surveyDTO.form is not null %}
            {{ form(surveyDTO.formView) }}
        {% endif %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="footer-nav">
                <a href="{% if surveyDTO.currentPage > 1 %}{{ path('form', {"surveyId": surveyDTO.surveyId, "direction": "back"}) }}{% else %}#{% endif %}"
                   class="btn btn-default {% if surveyDTO.currentPage == 1 %}disabled{% endif %}">Spat</a>

                <a href="{% if surveyDTO.currentPage < surveyDTO.maxPage %}{{ path('form', {"surveyId": surveyDTO.surveyId}) }}{% else %}#{% endif %}"
                   class="btn {% if surveyDTO.currentPage == surveyDTO.maxPage %}btn-success {% else %} btn-default{% endif %}" id="submit-next">{% if surveyDTO.currentPage == surveyDTO.maxPage %}Odoslať{% else %}Ďalej{% endif %}</a>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                         aria-valuenow="{{ surveyDTO.progress }}" style="width: {{ surveyDTO.progress }}%;"></div>
                </div>
                Stranka {{ surveyDTO.currentPage }} z {{ surveyDTO.maxPage }}
            </div>
        </div>
    </div>
{% endblock %}